<div class="no-questions">
  <img src="/images/d-balloon.svg" alt="Balões de diálogo" />
  <p>Nenhuma pergunta por aqui...</p>
  <p>
    Faça sua primeira pergunta e envie o<br />código dessa sala para outras
    pessoas!<br /><br /><br /><br /><br /><br />
  </p>
</div>
